doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
		script(type="text/javascript" src="javascripts/jquery.js")
		script(type="text/javascript" src="javascripts/signin.js")
		title 登录
	body
		div.container
			h1 用户登录
			div.info
				form(method='post' id='form')
					div.input-div(id='name-div')
						span.span.init-position 用户名
						input.input(name='username' id="username" value=username)
					div.input-div(id='password-div')
						span.span.init-position 密码
						input.input(name='password' type='password' id="password")
						span.warning #{error}
					input.button(type='reset' value='清除' id='reset')
					button.button(type='submit' value='提交' id='post') 登录
			span.switch-to-signup 没有账号?点击
				a(href='/regist') 注册
