body {
  	font-family: SYHT, "Microsoft Yahei", "微软雅黑", Arial, Helvetica, sans-serif;
  	background-color: #ecf0f1;
}

h1 {
	font-size: 24px;
	margin-bottom: 40px;
}


.container {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	left: 0;
	right: 0;
	top: 10%;
	width: 400px;
	height: 520px;
	background-color: #fff;
  	border-radius: 2px;
  	-moz-box-shadow: 1px -1px 1px #d4d8d9 inset, 1px 1px 1px 1px #e3e3e3;
  	-webkit-box-shadow: 1px -1px 1px #d4d8d9 inset, 1px 1px 1px 1px #e3e3e3;
  	box-shadow: 1px -1px 1px #d4d8d9 inset, 1px 1px 1px 1px #e3e3e3;
  	-moz-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
}


.input-div {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #C8C8C8;
	border-radius: 20px;
	width: 300px;
	height: 40px;
	margin-bottom: 30px;
}

.span {
	position: absolute;
	left: 20px;
	background-color: #fff;
	z-index: 0;
	font-size: 18px;
	-moz-transition: all 0.1s;
 	-webkit-transition: all 0.1s;
  	transition: all 0.1s;
}

.init-position {
	top: 8px;
	color: #C8C8C8;
}

.up-position {
	top: -14px;
	color: #77C2FF;
}

.used-span {
	top: -14px;
	color: #C8C8C8;
}

.warning-span {
	color: #E24A1F;
}

.used-div {
	border: 2px solid #C8C8C8;
}

.blue-div {
	border: 2px solid #77C2FF;
}

.red-div {
	border: 2px solid #E24A1F;
}

.input {
	background-color: transparent;
	top: 10px;
	position: absolute;
	left: 20px;
	outline: none;
	border: none;
	z-index: 1;
	font-size: 18px;
	-webkit-appearance: none;

}

.warning {
	font-size: 15px;
	color: #E24A1F;
    position: absolute;
    right: 10px;
    top: 40px;
}

.button {
	cursor: pointer;
  	color: #fff;
  	width: 100px;
  	height: 30px;
  	outline: none;
  	border: none;
  	border-radius: 4px;
  	font-size: 16px;
  	font-weight: 500;
  	text-align: center;
  	text-decoration: none;
  	font-family: SYHT, "Microsoft Yahei", "微软雅黑", Arial, Helvetica, sans-serif;
}

.button:active {
  	margin-top: 1px;
  	margin-bottom: 1px;
  	border-bottom: 0;
}
#post {
	position: absolute;
	right: 20%;
	margin-left: 10px;
 	background-color: #1BB2C7;
 	border-bottom: 1px solid #1B8998;
/*	-moz-box-shadow: 0.5px 0.5px 0.5px 0.5px #3799A7;
 	-webkit-box-shadow: 0.5px 0.5px 0.5px 0.5px #3799A7;
 	box-shadow: 0.5px 0.5px 0.5px 0.5px #3799A7;*/
}

#reset {
	position: absolute;
	left: 20%;
	margin-right: 10px;
	background-color: #B5B5B5;
  	border-bottom: 1px solid #A5A5A5;
/*  	-moz-box-shadow: 0.5px 0.5px 0.5px 0.5px #8A8A8A;
  	-webkit-box-shadow: 0.5px 0.5px 0.5px 0.5px #8A8A8A;
  	box-shadow: 0.5px 0.5px 0.5px 0.5px #8A8A8A;*/
}
